.container {
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background: #03a9f4;
  border-radius: 5px;
}

.searchingContainer {
  width: 100%;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 15px;
  background: #03a9f4;
  z-index: 999;
  transition: top 0.5s;
}

.subContainer {
  width: 100%;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.noGames {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.gamesContainer, .noGames {
  background: #03a9f4;
}

.paddingContainer {
  transition: padding 0.5s;
}

.loader {
  position: fixed;
  left: 50%;
  margin-left: -12.5px;
}

.loaderTwoContainer {
  display: flex;
  justify-content: center;
  transition: margin 0.5s;
}