.Container {
  border-radius: 5px;
  background: white;
  padding: 15px;
  margin-top: 10px;
  width: 100%;
}

.boardContainer {
  width: 100%;
}

.gameId {
  font-size: 12px;
  font-weight: bold;
}

.roomName {
  font-weight: bold;
  margin-top: 5px;
}

.chatButton {
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  color: rgb(165, 163, 163);
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 5px;
}

.popUpOne {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #03a9f4;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 999;
  font-weight: bold;
  /* top: 100px; */
}

.popUpTwo {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 999;
  display: flex;
  align-items: center;
  /* color: white; */
  /* padding: 5px; */
  /* border-radius: 5px; */
  /* font-weight: bold; */
  /* top: 100px; */
}

.popUpName {
  background: #ccc;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 2px;
}

.popUpMessage {
  background: #03a9f4;
  color: white;
  padding: 10px;
  border-radius: 50px;
}

.bottomContainer {
  display: flex;
  margin-top: 15px;
}

.rematch, .leave {
  color: white;
  padding: 6px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.leave {
  background: orangered;
}

.rematch {
  background: #03a9f4;
  margin-left: 10px;
}
